<h1>Create a new Payee</h1>
<form action="/admin/newPayee" method="POST">
    <label for="name">Name</label><input type="text" name="name" autofocus>
    <button class="glowingButton" type="submit">Submit</button>
</form>
<a href="/admin/payees" class="mainABasic">Back</a>