<header>
    <ul>
        <li><a href="/admin">Dashboard</a></li>
        <li><a href="/admin/payees">Payees</a></li>
        <li><a href="/admin/records">Records</a></li>
        <li><a href="/admin/panel">Panel</a></li>
    </ul>
    <form class="logoutForm" action="/admin/logout?_method=DELETE" method="POST"><button class="glowingButton" type="submit">Logout</button></form>
</header>

<script>
    let defColour = "white";
    let colours = [
            "#3388bb",
            "#30cfd0",
            "#f09819",
            "#fc00ff"
        ];
    let aList = document.getElementsByTagName("a");
    if(screen && screen.width < 787){
        for(let i = 0; i < aList.length; i++){
            aList[i].style.color = colours[i];
        }
    }else{
        for(let i = 0; i < colours.length; i++){
            aList[i].addEventListener("mouseenter", ()=>changeColour(aList[i],i));
            aList[i].addEventListener("mouseleave", ()=>changeColour(aList[i],-1));
        }

        changeColour = (ele,index) =>{
            if(index == -1){
            ele.style.color = defColour;
            }else{
                ele.style.color = colours[index];
            }
        }
    }
</script>