<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fitness App</title>
    <link href="https://fonts.googleapis.com/css?family=Chivo&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <% if(typeof css != "undefined"){%>
        <link rel="stylesheet" type="text/css" href="<%=`/css/${css}.css`%>">
    <%}%>
</head>
<body>
    <div class="content content--canvas">
    </div>
    <div id="overlay"></div>
    <%- body %>
    <div id="credits">
        <h3>Background created by <a href="https://tympanus.net/codrops/2018/12/13/ambient-canvas-backgrounds/" target="_blank">Sean Free</a></h3>
    </div>
    <script src="/js/noise.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/swirl.js"></script>
</body>
</html>