<div id="mainContainer">
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="username">Username</label><input type="text" name="username" autofocus>
        <label for="password">Password</label><input type="password" name="password" autocomplete="off">
        <button class="glowingButton" type="submit">Submit</button>
    </form>

    <%if(messages.error){%>
        <h3 class="error"><%= messages.error%></h3>
    <%}%>
</div>

<script>
    let inputs = document.getElementsByTagName("input");
    let input = [
        "wraithchaser",
        "karina85"
    ];
    // for(let i = 0; i < inputs.length; i++){
    //     inputs[i].value = input[i];
    // }
    // document.getElementsByTagName("form")[0].submit();

    setTimeout(()=>{
        let errors = document.getElementsByClassName("error");
        for(let error of errors){
            error.style.transform = "scale(0)";
        }
    }, 2000)
</script>