*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: #020202;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    min-height:90vh;
    font-family: 'Chivo', sans-serif;
}

#mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:60vw;
    height:50vh;
}

h1,h2,h3,h4,h5,p{
    color:#e1e1e1;
    font-weight: lighter;
    margin-bottom:1vh;
}

label{
    color:#e1e1e1;
    font-weight: lighter;
    margin-bottom:0.2vh;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2vh 0;
}

form div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:1vh;
    width:200px;
}

form input,
form select{
    padding:0.5vh 0;
    margin:0.5vh 0.5vw;
    border-radius:5px;
    width:90%;
    text-align:center;
    text-align-last: center;
}

form input:read-only{
    background-color: #fffa;
    cursor: not-allowed;
}

button{
    border:none;
    background-color: #34ebbd;
    margin: 1vh 0 2vh;
    padding:1vh 2vw;
    border-radius:8px;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    position: relative;
}

.glowingButton::before{
    content: '';
    position: absolute;
    top:-2%;
    left:-2%;
    right:-2%;
    bottom:-2%;
    background-color: #34ebbd;
    filter: blur(5px);
    z-index: -1;
}

.glowingButton:hover{
    filter:hue-rotate(-180deg);
}

.error{
    transition: 0.3s;
    color:red;
    font-size: 0.8em;
}

header{
    position: fixed;
    top: 0%;
    right:0%;
    width:400px;
    display: flex;
    flex-direction: row;
    margin:1vh 1vw 0 0;
}
header ul{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-evenly;
    margin-top:1vh;
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color:white;
}

header .logoutForm{
    padding:0;
    margin:0;
}

.logoutForm button{
    margin:0.5vh 0;
    padding:0.5vh 1vw;
    filter:hue-rotate(180deg);
}

.logoutForm button:hover{
    filter:hue-rotate(0deg);
}

::-webkit-scrollbar{
    width: 0.5em;
  }

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #f842;
    border-radius: 5px;
}
   
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(105deg, #ff5858 0%, #f09819 100%);
    border-radius:5px;
}