body{
    justify-content: flex-start;
}

#mainContainer{
    width:80vw;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    height:auto
}

h1{
    margin: 6vh 0;
    font-size: 2.5em;
    background-image: linear-gradient(45deg, #30cfd0 0%, #8ab8f5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(105deg, #30cfd0 0%, #330867 100%);
}

#backButton{
    position: relative;
    color: #E07B7A;;
    text-decoration: none;
    z-index: 10;
}

#backButton:hover{
    color:#30cfd0;
}

#profileContainer,
#pastPaymentContainer{
    flex:1;
    margin: 0 1vw;
}

#profileContainer h2,
#pastPaymentContainer h2{
    margin-bottom:3vh;
}

#profileContainer h3{
    margin: 1vh 0;
    font-size:0.8em;
}

.payment{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:160px;
    margin:0 3vw;
    justify-content: space-between;
    position: relative;
    border-radius:8px;
    padding:0.5vh 1vw;
    cursor: pointer;
}

.payment h4{
    margin:0;
}

#pastPayments{
    max-height: 50vh;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width:767px){
    h1{
        margin:10vh 0 6vh;
        font-size:1.5em;
    }
    #mainContainer{
        flex-direction: column;
        width:90vw;
        align-items: center;
        margin-bottom:3vh;
    }
    #profileContainer{
        width:80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom:1px solid #fff5;
        margin-bottom:3vh;
    }
    #profileContainer h2,
    #pastPaymentContainer h2{
        font-size:1.3em;
    }
    #pastPaymentContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #pastPayments{
        width:100%;
        align-items: center;
        justify-content: center;
        padding-bottom:10px;
        max-height:30vh;
    }
    .payment{
        padding:0.6vh 0.5vw;
    }
    .payment h4{
        font-size: 0.8em;
        margin-bottom:0;
    }
    #deletePayment{
        right:-10vw;
    }
    #backButton{
        font-size:0.8em;
        color:#E07B7A;
    }
}